.btn {
  position: relative;
  display: flex;
  height: var(--space-13);
  padding: 0 var(--space-7);
  border-radius: var(--radius-sm);
  place-items: center;
  transition: var(--transition);
  outline: none;
}

.btn:disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.btn:hover,
.btn:focus-visible {
  opacity: var(--opacity-hover);
}

.icon-btn {
  width: var(--space-13);
  padding: 0;
  place-content: center;
}

.primary {
  background: var(--color-accent);
  color: var(--color-surface-elevated);
}

.destructive {
  background: rgb(var(--color-red));
  color: var(--color-surface-elevated);
}

.secondary {
  background: var(--color-surface);
  color: var(--color-text-light);
}

.secondary:hover,
.secondary:focus-visible {
  background: var(--color-surface-hover);
  color: var(--color-text);
}

.subtle {
  color: var(--color-text-lighter);
}

.subtle:not(:disabled):hover,
.subtle:not(:disabled):focus-visible,
.subtle[data-active] {
  background: var(--color-surface);
  color: var(--color-text-light);
}

.btn:not(.icon-btn) .icon {
  margin-right: var(--space-4);
  margin-left: calc(-1 * var(--space-1));
}

.label {
  font-size: var(--size-sm);
  font-weight: 500;
}
