/* Header styles */
.header {
  display: grid;
  box-sizing: border-box; /* Include padding in total width */
  width: 100%;
  height: 100%;
  padding: 0 var(--space-8);
  grid-template-columns: repeat(3, 1fr); /* Use repeat function for easier resizing */
}

.menu,
.logo,
.profile {
  display: flex;
  align-items: center;
}

.menu {
  justify-content: flex-start;
}

.menuToggle {
  display: flex;
  width: 32px;
  height: 32px;
  background: var(--color-surface);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevent text selection */
  cursor: pointer; /* Indicate interactive element */
}

.logo {
  justify-content: center;
}

.logoLink {
  transition: opacity var(--transition);
  outline: none;
}

.logoLink:hover,
.logoLink:focus-visible {
  opacity: var(--opacity-hover);
}

.profile {
  gap: var(--space-6);
  justify-content: flex-end;
}

.profileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--color-surface);
  border-radius: 100%;
  transition: opacity var(--transition);
  outline: none;
  user-select: none; /* Prevent text selection */
  cursor: pointer; /* Indicate interactive element */
}

.profileButton:hover,
.profileButton:focus-visible {
  opacity: var(--opacity-hover);
}

.profilePopover {
  display: none; /* Hide by default */
  min-width: 180px;
  max-width: 320px;
  flex-direction: column;
  position: absolute; /* Position relative to nearest positioned ancestor */
  top: 100%; /* Position below the profile button */
  right: 0;
  z-index: 100; /* Ensure it appears above other elements */
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-small);
  border-radius: var(--radius-small);
}

.profilePopoverInfo {
  padding: var(--space-6) var(--space-7);
  background-color: var(--color-surface-darker); /* Make it more distinguishable */
}

.profilePopoverActions {
  padding: var(--space-3);
}

.profilePopoverInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
}

.profilePopoverName,
.profilePopoverId {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profilePopoverName {
  font-weight: 500;
}

.profilePopoverId {
  color: var(--color-text-lighter);
  font-size: var(--size-sm);
}

.profilePopoverButton {
  width: 100%;
  justify-content: center;
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    display: none;
  }

  .logo {
    justify-content: flex-start;
  }
}

/* Show profile popover on hover */
.profile:hover .profilePopover,
.profileButton:focus-visible .profilePopover {
  display: flex; /* Show the popover */
}
