<div class="stack">
  <div class="avatar"></div>
  <div class="avatar"></div>
  <div class="avatar"></div>
  <div class="ellipsis"></div>
</div>


.stack {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.stack > * {
  margin: 0 0.5em;
}

.avatar {
  box-shadow: 0 0 0 2px var(--color-surface-elevated), 0 0 0 6px var(--color-surface);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-surface);
}

.ellipsis {
  width: 1em;
  height: 1em;
  background-color: var(--color-surface);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
