/* Base styles */
.default {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.section {
  display: flex;
  align-items: center; /* use align-items instead of place-items */
}

.sectionAction {
  margin-left: auto;
}

/* Section label styles */
.sectionLabel {
  display: flex;
  align-items: center; /* use align-items instead of place-items */
  color: var(--color-text-lighter);
  cursor: pointer;
  font-size: var(--size-sm);
}

.sectionLabel[data-disabled] {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.sectionLabelIcon {
  margin-right: var(--space-4);
  color: var(--color-text);
}

/* Share link styles */
.shareLinkSection {
  display: flex;
  gap: var(--space-8);
}

.shareLinkInput {
  flex: 1 0 auto;
  user-select: all;
}
