:root {
  --black: 0 0 0;
  --white: 255 255 255;
  --gray-100: 244 244 245;
  --gray-200: 228 228 231;
  --gray-300: 212 212 216;
  --gray-400: 161 161 170;
  --gray-500: 113 113 122;
  --gray-600: 82 82 91;
  --gray-700: 63 63 70;
  --gray-800: 39 39 42;
  --gray-900: 24 24 27;
  --gray-950: 18 18 21;
  --red: 239 67 67;
  --green: 132 204 22;
  --accent: rgb(var(--color-gray-900));
  --surface: rgb(var(--color-gray-100));
  --surface-hover: rgb(var(--color-gray-150));
  --surface-elevated: rgb(var(--color-white));
  --border: rgb(var(--color-gray-150));
  --border-contrasted: rgb(var(--color-gray-250));
  --border-transparent: rgb(var(--color-gray-900) / 10%);
  --skeleton: rgb(var(--color-gray-150));
  --skeleton-shine: rgb(var(--color-gray-50));
  --tooltip: rgb(var(--color-gray-950));
  --tooltip-text: rgb(var(--color-white));
  --tooltip-border: rgb(var(--color-gray-750));
  --text: rgb(var(--color-gray-900));
  --text-light: rgb(var(--color-gray-600));
  --text-lighter: rgb(var(--color-gray-500));
  --text-lightest: rgb(var(--color-gray-400));
  --shadow: 0 3px 10px rgb(var(--color-black) / 5%);
  --shadow-lg: 0 4px 20px rgb(var(--color-black) / 5%);
  --transition: 0.15s ease-in-out;
  --transition-linear: 0.15s linear;
  --header-height: 60px;
  --z-above: 100;
  --z-overlay: 200;
  --z-badge: 1000;
  --opacity-hover: 0.8;
  --opacity-disabled: 0.5;
  --comment-highlight-composing: #ffff00;
  --comment-highlight-composing-border: #ffff00;
  --comment-highlight-complete: #ffffcd;
  --comment-highlight-complete-border: #f4d037;
  --comment-highlight-selected: #ffff00;
  --comment-highlight-selected-border: #f4d037;

  color-scheme: light;
  accent-color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: rgb(var(--color-white));
    --surface: rgb(var(--color-gray-850));
    --surface-hover: rgb(var(--color-gray-800));
    --surface-elevated: rgb(var(--color-gray-950));
    --border: rgb(var(--color-gray-750));
    --border-contrasted: rgb(var(--color-gray-650));
    --border-transparent: rgb(var(--color-white) / 10%);
    --text: rgb(var(--color-white));
    --text-light: rgb(var(--color-gray-300));
    --text-lighter: rgb(var(--color-gray-400));
    --text-lightest: rgb(var(--color-gray-500));

    --comment-highlight-composing: #0079a2;
    --comment-highlight-composing-border: #0079a2;
    --comment-highlight-complete: #2d414b;
    --comment-highlight-complete-border: #00748d;
    --comment-highlight-selected: #0079a2;
    --comment-highlight-selected-border: #009cd3;

    color-scheme: dark;
  }
}

body {
  background: var(--surface-elevated);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.lb-root {
  --lb-accent: var(--accent);
  --lb-accent-foreground: var(--surface);
  --lb-background: var(--surface-elevated);
}

.lb-tooltip {
  background: rgb(var(--color-gray-800));
}

.lb-portal {
  z-index: var(--z-overlay);
}
