/* Base styles */
.tiptap-empty:first-child::before {
  /* ... */
}

.tiptap-paragraph {
  /* ... */
}

.tiptap-hr {
  /* ... */
}

/* Heading styles */
.tiptap-heading {
  /* Base heading styles */
  margin-top: var(--space-12);
  margin-bottom: var(--space-8);
  font-weight: bold;
}

.tiptap-heading--level-1 {
  /* ... */
}

.tiptap-heading--level-2 {
  /* ... */
}

.tiptap-heading--level-3 {
  /* ... */
}

/* Inline styles */
.tiptap-code {
  /* ... */
}

.tiptap-highlight {
  /* ... */
}

.tiptap-link {
  /* ... */
}

/* Blockquote style */
.tiptap-blockquote {
  /* ... */
}

/* List styles */
.tiptap-list-item {
  /* ... */
}

.tiptap-list-item--ordered {
  /* ... */
}

.tiptap-list-item--task {
  /* ... */
}

/* Media blocks */
.tiptap-code-block {
  /* ... */
}

.tiptap-image,
.tiptap-youtube {
  /* ... */
}

/* Collaboration cursor styles */
.collaboration-cursor__caret {
  /* ... */
}

.collaboration-cursor__label {
  /* ... */
}
